<h3>Comments</h3>
<ul id="comments">
  <% @comments.each do |comm| %>
    <li>
      <h4><%= comm.author.name %></h4>
      <p>
        <%= comm.text %>
      </p>
      <% if current_user == comm.author %>
        <%= link_to 'Delete comment', comment_path(comm), method: 'delete' %>
      <% end %>
    </li>
  <% end %>
</ul>
