<li>
  <h4><%= comment.author.name %></h4>
  <p>
    <%= comment.text %>
  </p>
  <% if current_user == comment.author %>
    <%= link_to 'Delete comment', comment, method: 'delete' %>
  <% end %>
</li>
