<footer class="footer">
  <p>
    Author: Thadeu Laranja Aires
  </p>
  <p>
    This Web App was made as the final project to the Ruby on Rails course of <a href="#">The Odin Project</a>
  </p>
  <p>
    See the source at <a href="#">GitHub</a>
  </p>
</footer>
