<h2>Timeline</h2>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post_path(post) do %>
      <h3><%= post.author.name %></h3>
      <p>
        <%= post.updated_at %>
      </p>
      <p>
        <%= post.text %>
      </p>
    <% end %>
  </li>
  <% end %>
</ul>
