@import "bootstrap-sprockets";
@import "bootstrap";

$dark-gray: #727d82;

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-nav {
  float: right;
  li a {
    padding: 15px 7px;
  }
}
.navbar-brand {
  padding: 10px;
  img {
    width: 200px;
  }
}
@media (min-width: 950px) {
  body {padding-top: 70px;}
  .navbar-nav {
    li a {
      padding: 25px 15px;
    }
  }
  .navbar-brand {
    padding: 15px;
    img {
      width: 280px;
    }
  }
}
@media (min-width: 1100px) {
  .navbar-nav {
    li a {
      padding: 25px;
    }
  }
}

html{
  position: absolute;
  min-height: 100%;
  width: 100%;
}
.footer {
  position: absolute;
  bottom:0;
  left:0;
  background-color: #f8f8f8;
  width: 100%;
  height: 50px;
  p {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
}
.user-list-item {
  font-size: 16px;
  img {
    margin: 10px;
  }
}
